{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Content Row -->

<div class="row">
    <!-- Content Column -->
    <div class="col-lg-12 mb-4">

        <div class="card shadow mb-4">
            <a href="#collapseFilter" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseFilter">
                <h6 class="m-0 font-weight-bold text-primary">Filter</h6>
            </a>
            <div class="collapse hide" id="collapseFilter">
                <div class="card-body">
                    <form id="filter-form" class="row g-3" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="daterange">Latitude Range</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Min</span>
                                    </div>
                                    <input type="number" class="form-control form-control-sm" id="min-lat"
                                        placeholder="" value="-1" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Max</span>
                                    </div>
                                    <input type="number" class="form-control form-control-sm" id="max-lat"
                                        placeholder="" value="7" required>
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="daterange">Longitude Range</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Min</span>
                                    </div>
                                    <input type="number" class="form-control form-control-sm" id="min-lng"
                                        placeholder="" value="100" required>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Max</span>
                                    </div>
                                    <input type="number" class="form-control form-control-sm" id="max-lng"
                                        placeholder="" value="108" required>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div class="form-group">
                                <label for="daterange">Date and Time Range</label>
                                <input id="date-range" type="text" name="daterange" class="form-control form-control-sm"
                                    value="" />
                            </div>

                            <label>Type</label>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" checked="" value="0" name="ctype" id="gcp">
                                    <label class="form-check-label" for="gcp">GC+</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" checked="" value="1" name="ctype" id="gcn">
                                    <label class="form-check-label" for="gcn">GC-</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" checked="" value="2" name="ctype" id="ic">
                                    <label class="form-check-label" for="ic">IC</label>
                                </div>
                            </div>

                        </div>

                    </form>


                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <button id="filter-btn" class="col-md-6 btn btn-primary w-100" type="submit">Process</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <!-- Content Column -->
    <div class="col-lg-12 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <a href="#collapseMap1" class="d-block card-header py-3" data-toggle="collapse" role="button"
                aria-expanded="true" aria-controls="collapseMap1">
                <h6 class="m-0 font-weight-bold text-primary">Distribution Maps (LeafletJS)</h6>
            </a>
            <div class="collapse show" id="collapseMap1">
                <div class="card-body">
                    <div id="leaflet-map" style="min-height: 510px;"></div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(function () {
        // TODO: Move to Utils js
        function getCookie(name) {
            var cookieValue = null;
        
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        
                        break;
                    }
                }
            }
        
            return cookieValue;
        }

        // Filter Values
        const filterForm = $('#filter-form');
        const submitBtn = $('#filter-btn');
        // var start = moment().subtract(24, 'month');
        // var end = moment();

        // Init Date time
        var start = moment('2021-02-01T19:16:54+07:00');
        var end = moment('2021-02-05T19:16:54+07:00');
        // Ajax request data
        var data = {}

        // Init Leaflet Map
        var x = (94+144) / 2;
        var y = (-12+10) / 2;

        var overlayMaps = {}
        var pointLayer; var bboxLayer;

        var map = L.map('leaflet-map').setView([y,x], 5);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

        // Handle date picker events
        $('#date-range').daterangepicker({
            timePicker: true,
            timePickerIncrement: 5,
            startDate: start,
            endDate: end,
            locale: {
                format: 'MM/DD/YYYY h:mm A'
            }
        }, function(startDate, endDate) {
            start = startDate;
            end = endDate
        });

        // Handle filter button
        submitBtn.click(function(e){
            e.preventDefault();
            var min_lat = parseFloat($('#min-lat').val());
            var max_lat = parseFloat($('#max-lat').val());
            var min_lng = parseFloat($('#min-lng').val());
            var max_lng = parseFloat($('#max-lng').val());
            // CNimbus Type
            var ctype = [];
                $.each($("input[name='ctype']:checked"), function(){
                    ctype.push($(this).val());
                });

            // Cleaning layers
            bboxLayer && map.removeLayer(bboxLayer);
            pointLayer && map.removeLayer(pointLayer);
            
            // Set leafeat view to new coords
            map.setView([(min_lat + max_lat)/2, (min_lng + max_lng)/2], 6)

            // Bbox
            var bbox = [[min_lat, min_lng], [max_lat, max_lng]]
            bboxLayer = L.rectangle(bbox, {color: "#ff7800", weight: 2}).addTo(map);

            var data = {
                latRange: [min_lat, max_lat],
                lonRange: [min_lng, max_lng],
                dateRange: [start.format(), end.format()],
                ctype: ctype,
            }

            $.ajax({
                type: 'POST',
                url: "{% url 'ajax-distribution' %}",
                headers: {'X-CSRFToken': getCookie('csrftoken')},
                dataType: 'json',
                data: data,
                success: function (res) {
                    if (res.data) {
                        // Leaflet Map
                        var markerOptions = {
                            radius: 5,
                            color: "#000",
                            weight: 1,
                            opacity: 0.5,
                            fillOpacity: 0.5,
                        };
                        var feature = JSON.parse(res.data.geojson)
                        pointLayer = L.geoJSON(feature, {
                            pointToLayer: function (feature, latlng) {
                                if (feature.properties.type === 0) {
                                    return L.circleMarker(latlng, {...markerOptions, fillColor: "#636EFA"})
                                } else if (feature.properties.type === 1) {
                                    return L.circleMarker(latlng, {...markerOptions, fillColor: "#EF553B"})
                                } else {
                                    return L.circleMarker(latlng, {...markerOptions, fillColor: "#00CC96"})
                                }
                            },
                            onEachFeature: function (feature, layer) { 
                                layer.bindPopup(`Date: ${feature.properties.datetime_utc}\n 
                                        Type: ${feature.properties.type === 0 ? 'GC+' : feature.properties.type === 1 ? 'GC-' : 'IC'}`);
                            }
                        }).addTo(map);

                    } else {
                        $('.map-message').text('No result found!')
                    }
                },
                error: function (err) {
                    console.log(err)
                }
            })
        });

    });
</script>

{% endblock%}